# PostgreSQL
PG_USER=user
PG_PASSWORD=password
PG_DB=sentinel_db
PG_PORT=8433
PG_HOST=localhost

# MongoDB
MONGO_USER=user
MONGO_PASSWORD=password
MONGO_DB=sentinel_logs
MONGO_PORT=27017
MONGO_HOST=localhost

# RabbitMQ
RMQ_USER=user
RMQ_PASSWORD=password
RMQ_VHOST=sentinel_vhost
RMQ_PORT=5672
RMQ_MANAGEMENT_PORT=15672
RMQ_HOST=localhost

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=secret
JWT_EXPIRATION_IN_SECONDS=3600

VITE_CJS_IGNORE_WARNING=true

INITIAL_ADMIN_EMAIL=user@email.com
INITIAL_ADMIN_PASSWORD=password

VIRUSTOTAL_API_KEY=secret
LOG_RETENTION_DAYS=30

SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=your_static_user_here
SMTP_PASS=your_static_password_here

SLACK_WEBHOOK_URL=url