# PostgreSQL
POSTGRES_USER=sentinel
POSTGRES_PASSWORD=sentinel_secret
POSTGRES_DB=sentinel_db
POSTGRES_PORT=5432

# MongoDB
MONGO_USER=sentinel
MONGO_PASSWORD=sentinel_secret
MONGO_DB=sentinel_logs
MONGO_PORT=27017

# RabbitMQ
RABBITMQ_USER=sentinel
RABBITMQ_PASSWORD=sentinel_secret
RABBITMQ_VHOST=sentinel_vhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
