{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "printWidth": 100,
  "tabWidth": 4,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "useTabs": true
}