@import 'tailwindcss';

@theme {
	--color-primary: #0f172a;
	--color-accent: #38bdf8;
}

body {
	background-color: var(--color-slate-950);
	color: var(--color-slate-50);
	margin: 0;
	font-family: 'Inter', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background: #0f172a;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #1e3a8a;
	border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #3b82f6;
}
