@import 'tailwindcss';

@theme {
	--color-primary: #0f172a;
	--color-accent: #38bdf8;
}

body {
	background-color: var(--color-slate-950);
	color: var(--color-slate-50);
	margin: 0;
	font-family: 'Inter', sans-serif;
}
